<!doctype html>
<html>
<head>
    <title>Image Search API</title>
    <meta charset = 'utf-8'>
</head>
<body>
    <h2>Image Search API Microservice Using Node, Express and MongoDB</h2>
    Welcome to the Image Search API Microservice! To use the API, enter your search query as per the following example:</br>
    <i>http://herokuapp.com/imagesearch/ocean%20coast</i></br></br>
    By adding ?offset=2 to the end of your search query, you can scroll through pages of results.</br>
    In order to see a list of other recent search queries, visit <i>http://herokuapp.com/recentsearches</i>.
</body>
</html>