<!doctype html>
<html>
<head>
    <title>Image Search API Results</title>
    <meta charset = 'utf-8'>
</head>
<body>
    <h2>Search results for '<%=searchString%>':</h2>
    <%=apiResults%>
</body>
</html>